In [1]:
import pandas as pd
import numpy as np

In [2]:
# fonctions 
def Correction_date(liste):
    ''' 
    Fonction permettant de corriger les dates de publications 
    example : il y a 2 jours en 05/10/2019 si now = 07/10/2019  
    input = liste
    output = liste
        
    '''
    liste_corr = []
    for i in liste:
        try:
            
            jours = 0
            mois = 0
            annees = 0 
            if 'jour' in i:
                jours = int(re.findall('\d+',i)[0])
                d = datetime.today() + relativedelta(days=-jours)
                d =d.strftime("%d/%m/%Y")
            elif 'mois' in i :
                mois =  int(re.findall('\d+',i)[0])
                d = datetime.today() + relativedelta(months=-mois)
                d =d.strftime("%d/%m/%Y")
            else:
                d = 'vide'
            liste_corr.append(d)
        except:
            liste_corr.append('vide')
    return liste_corr

def Recuperation_date_description(liste1,liste2):
    '''
    Fonction permettant de recuperer les strings entre deux mots pour chaque ele de la liste 2:"description ici"
    et remplir les ele = 'vide' de la liste 1: "date_publication ici" via une liste corrigé
    
    '''
    liste_corr = []
    for i,j in zip(liste1,liste2):
        if (i == "vide") and (j.find('jours') > 0 ):
            
            deb = j.find('il y a ')
            fin = j.find('jours')
            temp = j[deb:fin+5]
            liste_corr.append(temp)
            
        elif (i == "vide") and (j.find('mois') > 0 ):
            
            deb = i.find('il y a ')
            fin = i.find('mois')
            temp = j[deb:fin+5]
            liste_corr.append(temp)
            
        elif (i == "vide") and ((j.find('mois') < 0) or (j.find('jours') < 0 )):
                                
            liste_corr.append(i)

        else:
            liste_corr.append(i)

    return liste_corr

In [9]:
analyst_paris = pd.read_csv('Data_analyst_Paris_06102019.csv')
scientist_paris = pd.read_csv('Data_scientist_Paris_05102019.csv')
architect_paris = pd.read_csv('Data_architect_Paris_06102019.csv')
engineer_paris = pd.read_csv('Data_engineer_Paris_06102019.csv')
big_data_paris = pd.read_csv('big_data_Paris_06102019.csv')
autres_metiers_data_paris = pd.read_csv('autres_metiers_data_paris_06102019.csv')
developpeur_paris = pd.read_csv('developpeur_Paris_06102019.csv')

In [ ]:
dictionnaire = {"Titre":Titre,"Nom_Entreprise":Nom_Entreprise,"Adresse":Adresse,
                "Salaire":Salaire,"Descriptif_du_poste":Descriptif_du_poste,
                "Date_de_publication":Date_de_publication,"métier_sc": metier,
                "loc_sc":loc,"Date_sc": now.strftime("%d/%m/%Y") ,
                #"heure_sc": now.strftime("%H:%M:%S"),
                "Identifiant": Identifiant}
metiers = {
           'Data_scientist': 'title:("data scientist" or "data science" or "machine learning" or "deep learning")',
           'Data_analyst'  : 'title:("data analyst" or "data analyste" or "data analysis" or "data analytics")',
           'Data_architect': 'title:("data architecte" or "data architect")',
           'Data_engineer' : 'title:("data engineer" )',
           'Big_data'      : 'title:("big data")',
           'Autres_metiers_data' : 'title:data -scientist -analyst -engineer -"big data" -architecte',
           'développeur':     'title:développeur -data'
           'BI'          :     'title:(développeur or developer) -data -business -affaire -toiles -bi'
           
           }
Localisations = ["Paris","Lyon", "Toulouse", "Nantes","Bordeaux"]

In [20]:
analyst_paris['métier_sc'] = 'Data_analyst'
scientist_paris['métier_sc'] = 'Data_scientist'
architect_paris['métier_sc'] = 'Data_architect'
engineer_paris['métier_sc'] = 'Data_engineer'
big_data_paris['métier_sc'] = 'Big_data'
autres_metiers_data_paris['métier_sc'] = 'Autres_metiers_data'
developpeur_paris['métier_sc'] = 'développeur'

In [21]:
analyst_paris  ['loc_sc'] = "Paris"
scientist_paris['loc_sc'] = "Paris"
architect_paris['loc_sc'] = "Paris"
engineer_paris ['loc_sc'] = "Paris"
big_data_paris ['loc_sc'] = "Paris"
developpeur_paris['loc_sc'] = "Paris"
autres_metiers_data_paris['loc_sc'] = "Paris"

In [22]:
df_paris = pd.concat([analyst_paris,scientist_paris,
                     architect_paris,engineer_paris,
                     big_data_paris,
                     autres_metiers_data_paris,
                     developpeur_paris],axis=0)

In [23]:
df_paris.shape

(5667, 10)

<h2> salaire </h2>

In [31]:
df = df_paris

In [35]:
temp = df[['Salaire','Descriptif_du_poste']] # df temp salaire et descriptif pour visualisation

In [50]:
temp[temp['Salaire'] == 'vide'].count()

Salaire                4592
Descriptif_du_poste    4592
dtype: int64

In [51]:
temp[temp['Salaire'] != 'vide'].count()

Salaire                1068
Descriptif_du_poste    1075
dtype: int64

In [79]:
vide = df['Salaire'] == 'vide'
non_vide = df['Salaire'] != 'vide'
nb_vide = df['Salaire'][vide].count()
nb_non_vide = df['Salaire'][non_vide].count()
result = pd.DataFrame({"column":'Salaire',
              "vide": [nb_vide],
              "non_vide": [nb_non_vide]})
result

    column  vide  non_vide
0  Salaire  4592      1068

In [86]:
def calcul_vide(column):
    
    vide = df[column] == 'vide'
    non_vide = df[column] != 'vide'
    nb_vide = df[column][vide].count()
    nb_non_vide = df[column][non_vide].count()
    result = pd.DataFrame({"column":column,
              "vide": [nb_vide],
              "non_vide": [nb_non_vide]})
    
    return result

In [87]:
calcul_vide('Salaire')

    column  vide  non_vide
0  Salaire  4592      1068