<h1> <center> Projet Scraper indeed </center> </h1>

In [1]:
import pandas as pd 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
browser = webdriver.Chrome()
browser.get('https://www.indeed.fr/')
browser.maximize_window()
from time import sleep
import re

Faire un script de scraping sur indeed (https://www.indeed.fr/)  qui permette à l’user de spécifier le type d’annonces qu’il souhaite récupérer :
-	Métier (développeur, data scientist…)
-	Type de contrat recherché (CDI, CDD, freelance…)
-	Lieu de recherche (Paris, Toulouse, …)

In [2]:
def Metier(string):
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
        
    recherche = browser.find_element_by_xpath('//*[@id="text-input-what"]')
    recherche.click()
    recherche.clear()
    recherche.send_keys(string)
    sleep(2)
    recherche.send_keys(Keys.ENTER)
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass

        

def Localisation(string):
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
    recherche = browser.find_element_by_xpath('//*[@id="where"]')
    recherche.click()
    recherche.clear()
    recherche.send_keys(string)
    sleep(2)
    recherche.send_keys(Keys.ENTER)
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
    
def Type_Contrat(string):
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
    
    if string.lower() == 'cdi':      
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[1]/a/span[1]").click()
    if string.lower() == 'temps plein':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[2]/a/span[1]").click()
    if string.lower() == 'stage':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[3]/a/span[1]").click()
    if string.lower() == 'cdd':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[4]/a/span[1]").click()
    if string.lower() == 'apprentissage':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[5]/a/span[1]").click()
    if string.lower() == 'contrat pro':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[6]/a/span[1]").click()
    if string.lower() == 'freelance / indépendant':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[7]/a/span[1]").click()
    if string.lower() == 'intérim':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[8]/a/span[1]").click()
    if string.lower() == 'temps partiel':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[9]/a/span[1]").click()    
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
    
def Debug_pop():
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass

Les infos à scraper :
-	Titre
-	Nom de la boite
-	Adresse
-	Salaire
-	Descriptif du poste
-	Date de publication de l’annonce

In [ ]:
brow//*[@id="distance_selector"]

In [5]:
#var_metier = input("Enter le métier recherché")
#var_localisation = input("Entrer la localistaion")

In [10]:
var_metier = "'data analyst'"
var_localisation = 'meaux'

**Liste  à remplir**

In [ ]:
Metier(var_metier)
Localisation(var_localisation)

**Creation des listes vides pour chaque colonne**

In [ ]:
import numpy as np 
Titre = []
Nom_Entreprise = []
Adresse = []
Salaire = []
Descriptif_du_poste = []
Date_de_publication = []


while True:
    Debug_pop()
    annonces = browser.find_elements_by_class_name("jobsearch-SerpJobCard")
    for i in range(0,len(annonces)):
        try:
            titre = annonces[i].find_element_by_class_name('title')
            Titre.append(titre.text)
        except:
            Titre.append('vide')
        try:
            nom = annonces[i].find_element_by_class_name('company')
            Nom_Entreprise.append(nom.text)

        except:
            Nom_Entreprise.append('vide')
        try:
            adresse= annonces[i].find_element_by_class_name('location')
            Adresse.append(adresse.text)
        except:
            Adresse.append('vide')
        try:
            date = annonces[i].find_element_by_class_name('date')
            Date_de_publication.append(date.text)

        except:
            Date_de_publication.append('vide')
        try:
            salaire = annonces[i].find_element_by_class_name('salaryText')
            Salaire.append(salaire.text)
        except:
            Salaire.append('vide')
        try:
            annonces[i].find_element_by_class_name('title').click()
            Debug_pop()
            descriptif= browser.find_element_by_xpath("//*[@id='vjs-content']")
            Descriptif_du_poste.append(descriptif.text)
        except:
            Descriptif_du_poste.append('vide')

    
    try:
        browser.find_element_by_xpath("//*[contains(text(), 'Suivant')]").click() 
        sleep(2)
    except:
        break

In [219]:
dictionnaire = {"Titre":Titre,"Nom_Entreprise":Nom_Entreprise,"Adresse":Adresse,
                "Salaire":Salaire,"Descriptif_du_poste":Descriptif_du_poste,
                "Date_de_publication":Date_de_publication,
                "métier_sc": var_metier,"loc_sc":var_localisation,"date_sc": now.strftime("%d/%m/%Y") ,
                "heure_sc": now.strftime("%H:%M:%S")}
df = pd.DataFrame(dictionnaire) 

df.to_csv('indeed_jobs.csv',index=False)

In [220]:
df

,Titre,Nom_Entreprise,Adresse,Salaire,Descriptif_du_poste,Date_de_publication,métier_sc,loc_sc,date_sc,heure_sc
0,INGÉNIEUR DATA SCIENTIST EXPÉRIMENTÉ (H/F),sii,Toulouse (31),vide,Toulouse (31)\nDescription du poste :\nrattach...,vide,data scientist,toulouse,03/10/2019,10:29:09
1,Ingénieur Data Scientist H/F,EPSILON-ALCEN,Toulouse (31),30 000 € - 50 000 € par an,Toulouse (31)\nCDI\n30 000 € - 50 000 € par an...,il y a 15 jours,data scientist,toulouse,03/10/2019,10:29:09
2,Ingénieur Data Scientist Junior H/F,CS Communication & Systèmes,Toulouse (31),vide,Toulouse (31)\nCDI\nDESCRIPTION DE L'OFFRE\nCS...,il y a 30+ jours,data scientist,toulouse,03/10/2019,10:29:09
3,Stage en data scientist H/F,Altran,Blagnac (31),vide,Blagnac (31)\nStage\nAu sein de l'entité Digit...,il y a 2 jours,data scientist,toulouse,03/10/2019,10:29:09
4,DATA SCIENTIST (H/F),Airbus,Toulouse (31),vide,Toulouse (31)\nAPSYS SAS\nAirbus is a global l...,il y a 29 jours,data scientist,toulouse,03/10/2019,10:29:09
...,...,...,...,...,...,...,...,...,...,...
62,Technicien Support Applicatif F/H,KENT,Toulouse (31),vide,Toulouse (31)\nCDI\nMissions : Kent vous propo...,il y a 30+ jours,data scientist,toulouse,03/10/2019,10:29:09
63,Senior Backend Developer (f/m/x) (relocated to...,Avira Operations GmbH & Co. KG,France,vide,France\nSenior Backend Developer (f/m/x)\nLoca...,vide,data scientist,toulouse,03/10/2019,10:29:09
64,Développeur Front End (H/F),NextGen RH,Toulouse (31),vide,Toulouse (31)\nPrésentation\nNEXTGEN RH est un...,il y a 8 mois,data scientist,toulouse,03/10/2019,10:29:09
65,Data Scientist F/H,Persuaders RH,Occitanie,vide,Occitanie\nEntreprise\nL’entreprise pour laque...,il y a 30+ jours,data scientist,toulouse,03/10/2019,10:29:09
66,Stage ingénieur Traitement de signal embarqué ...,Capgemini,Occitanie,vide,Occitanie\nStage\nDescription de l’entreprise\...,il y a 23 jours,data scientist,toulouse,03/10/2019,10:29:09

In [13]:
from pymongo import MongoClient
from random import randint

In [16]:
client = MongoClient(host='localhost', port=27017)
db=client.tech_jobs
collection = db.indeed_jobs.insert_many(df.to_dict('records'))

In [39]:
data = pd.DataFrame(list(db.indeed_jobs.find()))

## Handle time

In [209]:
from datetime import datetime, timedelta
import re

In [401]:
def process_dates(df) :
#     process dates
    df_days = df[df.Date_de_publication.str.contains('jour')]
    df_months = df[df.Date_de_publication.str.contains('mois')]
    d_date_list = []
    m_date_list = []
    for ele in df_days['Date_de_publication'] :
        nb_days = int(re.findall("[0-9]+", ele)[0])
        date = (now - timedelta(days=nb_days)).strftime("%d/%m/%Y")
        d_date_list.append(date)
    for ele in df_months['Date_de_publication'] :
        nb_months = int(re.findall("[0-9]+", ele)[0])
        date = (now - timedelta(nb_months*365/12)).strftime("%d/%m/%Y")
        m_date_list.append(date)
    df_days['Date'] = d_date_list
    df_months['Date'] = m_date_list
    return df_days, df_months

In [402]:
def add_dates(df, process_dates()) :    
#     add dates to the original dataframe
    df["Date"] = 'vide'
    df_days, df_months = process_dates()
    df.update(df_days)
    df.update(df_months)
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
    return df
add_dates()

C:\Users\marie\Programs\Miniconda\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\marie\Programs\Miniconda\envs\machinelearning\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,Titre,Nom_Entreprise,Adresse,Salaire,Descriptif_du_poste,Date_de_publication,métier_sc,loc_sc,date_sc,heure_sc,Date
0,INGÉNIEUR DATA SCIENTIST EXPÉRIMENTÉ (H/F),sii,Toulouse (31),vide,Toulouse (31)\nDescription du poste :\nrattach...,vide,data scientist,toulouse,03/10/2019,10:29:09,NaT
1,Ingénieur Data Scientist H/F,EPSILON-ALCEN,Toulouse (31),30 000 € - 50 000 € par an,Toulouse (31)\nCDI\n30 000 € - 50 000 € par an...,il y a 15 jours,data scientist,toulouse,03/10/2019,10:29:09,2019-09-18
2,Ingénieur Data Scientist Junior H/F,CS Communication & Systèmes,Toulouse (31),vide,Toulouse (31)\nCDI\nDESCRIPTION DE L'OFFRE\nCS...,il y a 30+ jours,data scientist,toulouse,03/10/2019,10:29:09,2019-03-09
3,Stage en data scientist H/F,Altran,Blagnac (31),vide,Blagnac (31)\nStage\nAu sein de l'entité Digit...,il y a 2 jours,data scientist,toulouse,03/10/2019,10:29:09,2019-01-10
4,DATA SCIENTIST (H/F),Airbus,Toulouse (31),vide,Toulouse (31)\nAPSYS SAS\nAirbus is a global l...,il y a 29 jours,data scientist,toulouse,03/10/2019,10:29:09,2019-04-09
...,...,...,...,...,...,...,...,...,...,...,...
62,Technicien Support Applicatif F/H,KENT,Toulouse (31),vide,Toulouse (31)\nCDI\nMissions : Kent vous propo...,il y a 30+ jours,data scientist,toulouse,03/10/2019,10:29:09,2019-03-09
63,Senior Backend Developer (f/m/x) (relocated to...,Avira Operations GmbH & Co. KG,France,vide,France\nSenior Backend Developer (f/m/x)\nLoca...,vide,data scientist,toulouse,03/10/2019,10:29:09,NaT
64,Développeur Front End (H/F),NextGen RH,Toulouse (31),vide,Toulouse (31)\nPrésentation\nNEXTGEN RH est un...,il y a 8 mois,data scientist,toulouse,03/10/2019,10:29:09,2019-02-02
65,Data Scientist F/H,Persuaders RH,Occitanie,vide,Occitanie\nEntreprise\nL’entreprise pour laque...,il y a 30+ jours,data scientist,toulouse,03/10/2019,10:29:09,2019-03-09
66,Stage ingénieur Traitement de signal embarqué ...,Capgemini,Occitanie,vide,Occitanie\nStage\nDescription de l’entreprise\...,il y a 23 jours,data scientist,toulouse,03/10/2019,10:29:09,2019-10-09

## TEST MODELE REG LOG

In [218]:
df_process = df[df["Salaire" != 'vide']]

KeyError: True