<h1> <center> Projet Scraper indeed </center> </h1>

In [1]:
import pandas as pd 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
browser = webdriver.Chrome()
browser.get('https://www.indeed.fr/')
browser.maximize_window()
from time import sleep
import re

Faire un script de scraping sur indeed (https://www.indeed.fr/)  qui permette à l’user de spécifier le type d’annonces qu’il souhaite récupérer :
-	Métier (développeur, data scientist…)
-	Type de contrat recherché (CDI, CDD, freelance…)
-	Lieu de recherche (Paris, Toulouse, …)

In [2]:
def Metier(string):
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
        
    recherche = browser.find_element_by_xpath('//*[@id="text-input-what"]')
    recherche.click()
    recherche.clear()
    recherche.send_keys(string)
    sleep(2)
    recherche.send_keys(Keys.ENTER)
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass

        

def Localisation(string):
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
    recherche = browser.find_element_by_xpath('//*[@id="where"]')
    recherche.click()
    recherche.clear()
    recherche.send_keys(string)
    sleep(2)
    recherche.send_keys(Keys.ENTER)
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
    
def Type_Contrat(string):
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
    
    if string.lower() == 'cdi':      
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[1]/a/span[1]").click()
    if string.lower() == 'temps plein':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[2]/a/span[1]").click()
    if string.lower() == 'stage':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[3]/a/span[1]").click()
    if string.lower() == 'cdd':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[4]/a/span[1]").click()
    if string.lower() == 'apprentissage':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[5]/a/span[1]").click()
    if string.lower() == 'contrat pro':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[6]/a/span[1]").click()
    if string.lower() == 'freelance / indépendant':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[7]/a/span[1]").click()
    if string.lower() == 'intérim':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[8]/a/span[1]").click()
    if string.lower() == 'temps partiel':
        browser.find_element_by_xpath("//*[@id='JOB_TYPE_rbo']/ul/li[9]/a/span[1]").click()    
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass
    
def Debug_pop():
    sleep(2)
    try:
        browser.find_element_by_xpath('//*[@id="popover-x"]/a').click()
    except:
        pass

Les infos à scraper :
-	Titre
-	Nom de la boite
-	Adresse
-	Salaire
-	Descriptif du poste
-	Date de publication de l’annonce

In [ ]:
brow//*[@id="distance_selector"]

In [5]:
#var_metier = input("Enter le métier recherché")
#var_localisation = input("Entrer la localistaion")

In [10]:
var_metier = "'data analyst'"
var_localisation = 'meaux'

**Liste  à remplir**

In [ ]:
Metier(var_metier)
Localisation(var_localisation)

**Creation des listes vides pour chaque colonne**

In [ ]:
import numpy as np 
Titre = []
Nom_Entreprise = []
Adresse = []
Salaire = []
Descriptif_du_poste = []
Date_de_publication = []


while True:
    Debug_pop()
    annonces = browser.find_elements_by_class_name("jobsearch-SerpJobCard")
    for i in range(0,len(annonces)):
        try:
            titre = annonces[i].find_element_by_class_name('title')
            Titre.append(titre.text)
        except:
            Titre.append('vide')
        try:
            nom = annonces[i].find_element_by_class_name('company')
            Nom_Entreprise.append(nom.text)

        except:
            Nom_Entreprise.append('vide')
        try:
            adresse= annonces[i].find_element_by_class_name('location')
            Adresse.append(adresse.text)
        except:
            Adresse.append('vide')
        try:
            date = annonces[i].find_element_by_class_name('date')
            Date_de_publication.append(date.text)

        except:
            Date_de_publication.append('vide')
        try:
            salaire = annonces[i].find_element_by_class_name('salaryText')
            Salaire.append(salaire.text)
        except:
            Salaire.append('vide')
        try:
            annonces[i].find_element_by_class_name('title').click()
            Debug_pop()
            descriptif= browser.find_element_by_xpath("//*[@id='vjs-content']")
            Descriptif_du_poste.append(descriptif.text)
        except:
            Descriptif_du_poste.append('vide')

    
    try:
        browser.find_element_by_xpath("//*[contains(text(), 'Suivant')]").click() 
        sleep(2)
    except:
        break

In [11]:
dictionnaire = {"Titre":Titre,"Nom_Entreprise":Nom_Entreprise,"Adresse":Adresse,
                  "Salaire":Salaire,"Descriptif_du_poste":Descriptif_du_poste,"Date_de_publication":Date_de_publication,
               "métier scrappé": var_metier,"localisation scrapéé":var_localisation}
df = pd.DataFrame(dictionnaire) 

df.to_csv('indeed_jobs.csv',index=False)

In [12]:
df

,Titre,Nom_Entreprise,Adresse,Salaire,Descriptif_du_poste,Date_de_publication,métier scrappé,localisation scrapéé
0,Analyste Informatique CRM (F/H),Disneyland Paris,Île-de-France,vide,Résumé du poste:\nDans le cadre de sa transfor...,vide,'data analyst',meaux
1,Business analyst data (h/f),OFFICE DEPOT,Villepinte (93),vide,"Dans le cadre de notre développement, nous rec...",vide,'data analyst',meaux
2,(Senior) Software Developer C# (relocated to G...,Avira Operations GmbH & Co. KG,France,vide,(Senior) Software Developer C#\nLocation: Tett...,vide,'data analyst',meaux
3,RESPONSABLE ETUDE MARKETING ET STATISTIQUE (DA...,UGAP,Champs-sur-Marne (77),35 000 € - 50 000 € par an,Contrat\nCDI\nTemps de travail\nTemps complet\...,il y a 30+ jours,'data analyst',meaux
4,Business analyst Big Data Splunk / Freelance,FREELANCE VISION,Noisiel (77),vide,Nous sommes actuellement à la recherche d’un b...,il y a 6 jours,'data analyst',meaux
5,Business Analyst BIG DATA / Splunk / Freelance,Freelance.com,Noisiel (77),400 € par semaine,"Pour notre client, nous recherchons un Busines...",il y a 7 jours,'data analyst',meaux
6,business analyst Junior/confirmé BIG DATA / Sp...,WorldWide People,Noisiel (77),400 € par jour,business analyst Junior/confirmé BIG DATA / Sp...,il y a 7 jours,'data analyst',meaux
7,HR Systems Analyst (M/F),Disneyland Paris,Marne-la-Vallée (77),vide,Within the Human Resources Department of Disne...,il y a 5 jours,'data analyst',meaux
8,Analyste de données H/F - BE4505,PRO BTP GROUPE,Noisy-le-Grand (93),vide,Notre offre\nRéférence de l'offre BE4505 - Mis...,il y a 2 jours,'data analyst',meaux
9,CRM IT Analyst (F/M),Disneyland Paris,Marne-la-Vallée (77),vide,Disneyland Paris is looking for future talents...,il y a 30+ jours,'data analyst',meaux
10,Analyste Informatique CRM (F/H),Disneyland Paris,Marne-la-Vallée (77),vide,"Dans le cadre de sa transformation digitale, D...",il y a 30+ jours,'data analyst',meaux
11,RESPONSABLE MARKETING PRODUIT F/H,Ipsée,Mitry-Mory (77),vide,"Rattaché.e au Directeur Marketing Europe, vous...",il y a 14 jours,'data analyst',meaux
12,Strategy Senior Analyst (M/F),Disneyland Paris,Marne-la-Vallée (77),vide,The Strategy Division develops recommendations...,il y a 6 mois,'data analyst',meaux
13,Ingénieur de production / Analyste d’exploitat...,Synchrone,France,30 000 € - 45 000 € par an,Description de l’entreprise\nDescription de la...,vide,'data analyst',meaux
14,INGENIEUR DEVELOPPEMENT COBOL H/F MARSEILLE,Umanis,,vide,vide,vide,'data analyst',meaux
15,,,,vide,vide,,'data analyst',meaux
16,,,Bussy-Saint-Georges (77),vide,It's rewarding to work at a company where YOU ...,il y a 30+ jours,'data analyst',meaux
17,ALT- Data Analyst - F/H,CHRONOPOST,Île-de-France,vide,It's rewarding to work at a company where YOU ...,il y a 30+ jours,'data analyst',meaux
18,Data Analyst (H/F),Banque Populaire Rives de Paris,Île-de-France,vide,vide,il y a 4 mois,'data analyst',meaux
19,Business Analyst spécialisé Data / Freelance,Sofali Consulting,Île-de-France,vide,vide,il y a 6 jours,'data analyst',meaux
20,Data and Regulatory Reporting Analyst (H/F),Natixis,Île-de-France,vide,vide,il y a 23 jours,'data analyst',meaux
21,Consultant Data Analyst / Business Intelligenc...,DSI Group,Île-de-France,vide,vide,il y a 12 mois,'data analyst',meaux
22,Business Analyst specialise Data – Paris H/F,Capgemini,Île-de-France,vide,vide,il y a 9 mois,'data analyst',meaux
23,CDI - Data Analyst (F/H),BPCE SA,Île-de-France,vide,It's rewarding to work at a company where YOU ...,il y a 30+ jours,'data analyst',meaux
24,CDI- Business Analyst Salesforce - DSI SEF Lea...,BPCE SA,Île-de-France,vide,"Description de l'entreprise\nLe Groupe BPCE, a...",il y a 7 jours,'data analyst',meaux
25,Data Analyst Identity Protection (f/m/x) (relo...,Avira Operations GmbH & Co. KG,France,vide,Data Analyst Identity Protection (f/m/x)\n\nPo...,vide,'data analyst',meaux
26,Business Analyst Epargne financière - LEA (H/F),Natixis,Île-de-France,vide,"Bienvenue chez Natixis, l’entreprise qui vous ...",il y a 15 jours,'data analyst',meaux
27,Analyste fonctionnel SI junior F/H,Vinci Energies,Île-de-France,vide,POSTE :\nAu sein de la Direction des Systèmes ...,il y a 22 jours,'data analyst',meaux
28,POEI - Data Analyst python/AWS (H/F),Activus,Île-de-France,vide,Activus lance une nouvelle POEI pour devenir D...,il y a 29 jours,'data analyst',meaux
29,Analyste fonctionnel SI junior ARIBA F/H,Eurovia,Île-de-France,vide,"Eurovia (groupe VINCI), l’un des principaux ac...",il y a 16 jours,'data analyst',meaux
...,...,...,...,...,...,...,...,...
55,Data Analyst Dataiku F/H,Lincoln,Île-de-France,vide,Dans le cadre d’un projet pour la direction ma...,il y a 7 mois,'data analyst',meaux
56,Analyste fonctionnel SI Junior / Machine Learn...,VINCI energies,Île-de-France,vide,1 STAGE AVEC PRE-EMBAUCHE\nAu sein de la Direc...,il y a 22 jours,'data analyst',meaux
57,Analyste fonctionnel SI junior Finance SAP F/H,Vinci Energies,Île-de-France,vide,1 STAGE AVEC PRE-EMBAUCHE :\nAu sein de la Dir...,il y a 22 jours,'data analyst',meaux
58,Analyste fonctionnel SAP HR (Paye) F/H,Eurovia,Île-de-France,vide,"La DSI d’Eurovia, basée à Rueil-Malmaison (92)...",il y a 30+ jours,'data analyst',meaux
59,Data analyst Risques F/H,Lincoln,Île-de-France,vide,"Rattaché(e) à nos équipes de consultants, vous...",il y a 10 mois,'data analyst',meaux
60,AMOA - Business Analyst H/F,Activus,Île-de-France,vide,Pour renforcer notre pôle Applications Digital...,il y a 30+ jours,'data analyst',meaux
61,CDI - Analyste Développeur junior – Java (H/F),BPCE SA,Île-de-France,vide,"Description de l'entreprise\nLe Groupe BPCE, d...",il y a 8 mois,'data analyst',meaux
62,Analyste Autorisation SAP F/H,Eurovia,Île-de-France,vide,"Eurovia (groupe VINCI), l’un des principaux ac...",il y a 30+ jours,'data analyst',meaux
63,Developer Big Data (H/F) Ile de France (78) Mo...,montreal,Île-de-France,vide,Montreal Associates est à la recherche d'un Dé...,il y a 5 jours,'data analyst',meaux
64,Analyste Change Management et Adoption Office ...,Eurovia,Île-de-France,vide,"Eurovia (groupe VINCI), l’un des principaux ac...",il y a 27 jours,'data analyst',meaux
65,Analyste transverse méthodologies de notation ...,Natixis,Île-de-France,vide,"Bienvenue chez Natixis, l’entreprise qui vous ...",il y a 4 mois,'data analyst',meaux
66,Analyste PMO F/H,Eurovia,Île-de-France,vide,"Eurovia (groupe VINCI), l’un des principaux ac...",il y a 16 jours,'data analyst',meaux
67,Data analyste confirmé Search Experience h/f /...,Uniware,Île-de-France,vide,Elle/il sera amené(e) à définir et construire ...,il y a 6 mois,'data analyst',meaux
68,CDI – Analyste Développeur confirmé – DataStag...,BPCE SA,Île-de-France,vide,"Description de l'entreprise\nLe Groupe BPCE, a...",il y a 9 jours,'data analyst',meaux
69,CDI-Analyste Développeur confirmé – Big Data (...,BPCE SA,Île-de-France,vide,"Description de l'entreprise\nLe Groupe BPCE, a...",il y a 4 mois,'data analyst',meaux
70,"Analyste Cobol, Java, SQL (H/F)",Activus,Île-de-France,vide,"Pour renforcer notre pôle Infrastructures, sur...",il y a 19 jours,'data analyst',meaux
71,CDI – Analyste Développeur confirmé - Java F/H,BPCE SA,Île-de-France,vide,"Description de l'entreprise\nLe Groupe BPCE, a...",il y a 22 jours,'data analyst',meaux
72,Consultant #Sharepoint H/F,Devoteam,Île-de-France,vide,Description du poste\n\nAu sein de la Practice...,il y a 7 mois,'data analyst',meaux
73,ANALYSTE EXPERT BO H/F,Groupe OGMIOS,Île-de-France,vide,LE POSTE\nVos missions :\n– Mettre en place de...,il y a 10 mois,'data analyst',meaux
74,Stage - Business Developer (H/F),SYSTRA,Île-de-France,vide,Country: FR\nField: Support & transversal\nLoc...,il y a 19 jours,'data analyst',meaux
75,"Partner, IT Strategy Consulting.",Gartner,Île-de-France,vide,Why is Gartner Consulting an organization unli...,il y a 30+ jours,'data analyst',meaux
76,Analyste fonctionnel SI Junior / Machine Learn...,VINCI energies,Île-de-France,vide,1 STAGE AVEC PRE-EMBAUCHE\nAu sein de la Direc...,il y a 22 jours,'data analyst',meaux
77,"Managing Partner, IT Strategy Consulting, Fina...",Gartner,Île-de-France,vide,Why is Gartner Consulting an organization unli...,il y a 4 mois,'data analyst',meaux
78,Automatisation tests C#,Matis Group,Île-de-France,vide,Au sein de l’équipe Europe HQ constitué d’un c...,il y a 10 mois,'data analyst',meaux
79,QA / TESTEUR Automaticien Mobile - Freelance,montreal,Île-de-France,vide,Quality Analyst\nTesteur\nLocalisation : 92 - ...,il y a 27 jours,'data analyst',meaux
80,Offer Marketing Manager Senior H/F,Devoteam,Île-de-France,vide,Description du poste\n\nVos missions seront le...,il y a 30+ jours,'data analyst',meaux
81,Développeur Web full stack .Net (H/F),Natixis,Île-de-France,vide,Natixis est la banque internationale de financ...,il y a 5 mois,'data analyst',meaux
82,Chef de Projet en Transformation Numerique - T...,mc2i,Île-de-France,vide,Métier\nFonctions Opérationelles - Chef de Pro...,il y a 8 mois,'data analyst',meaux
83,Ingénieur Citrix PDT - Guyancourt (78) - Montr...,montreal,Île-de-France,vide,Ingénieur Citrix PDT - Guyancourt (78) - Montr...,il y a 6 jours,'data analyst',meaux
84,Ingénieur Études et Développement JAVA J2EE / ...,AKKA TECHNOLOGIES,Île-de-France,vide,Dans le cadre du développement de ses activité...,il y a 8 mois,'data analyst',meaux

In [13]:
from pymongo import MongoClient
from random import randint

In [16]:
client = MongoClient(host='localhost', port=27017)
db=client.tech_jobs
collection = db.indeed_jobs.insert_many(df.to_dict('records'))

In [39]:
data = pd.DataFrame(list(db.indeed_jobs.find()))